rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{collection}/{document} {
      allow read, write: if request.auth != null && (resource == null || resource.data.user_id == request.auth.uid || request.resource.data.user_id == request.auth.uid);
    }
  }
}
